.navbar {
  font-size: 16px;
}

ul.ul-edu li .description p.course {
  font-size: 1rem;
}

ul.ul-edu li .description p.institution {
  font-size: 1rem;
  color: rgba(0,0,0,0.6);
}

ul.ul-interests li {
  font-size: 1rem;
}

.portrait-title h3 {
  font-size: 1.1rem;
}

.container {
  max-width: 95%;
}
